body{
  margin: 0;
}

#heroimage h1 {
  font-weight: 500;
}

nav{
  width: 100%;
  height: 130px;
  position: sticky;
  top: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  background-color: #0B1331;
}

.logo {
  margin: 20px;
}

.topnav {
  float: right;
  position: absolute;
  top: 50px;
  right: 20px;
}

.topnav a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  color: #31C5F4;
}
.inactive {
  color: white;
  font-weight: 500;
  transition: 0.3s;
}
.inactive:hover {
  color: #89E3FF;
}

/* Hero Image */

#heroGrid {
  background-color: #0B1331;
  height: 100vh;
  padding: 5vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-rows: 58vh;
  grid-template-areas:
  "headline heroimage"
  ;
}

#headline {
  grid-area: headline;
  color: #89E3FF;

}
#heroimage {
  grid-area: heroimage;
  background-image: url("../images/pro.jpg");
}

#headline {
  color: white;
  padding: 10px;
}

#heroimage {
  padding: 25px;
}


#socialGrid {
  height: 100vh;
  padding: 5vh;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-auto-rows: 58vh;
  grid-template-areas:
  "in be ig"
  ;
}

#LinkedIn {
  grid-area: in;

}
#Behance {
  grid-area: be;

}
#Instagram {
  grid-area: ig;

}







.links {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  position: absolute;
  left: 160px;
  top: 435px;
}

.in {
  grid-area: hover;
  background-color: #31C5F4;
  color: white;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 50%;
  border-style: none;
}

.in:hover {
  background-color:#89E3FF;
}

.be {
  grid-area: hover;
  background-color: #31C5F4;
  color: white;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 50%;
  border-style: none;
}

.be:hover {
  background-color:#89E3FF;
}

.ig {
  grid-area: hover;
  background-color: #31C5F4;
  color: white;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 50%;
  border-style: none;
}

.ig:hover {
  background-color:#89E3FF;
}


/* Grid */

#categoryGrid {
  font-family: 'Poppins', helvetica , sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 0px 5%;
  display: grid;
  padding-top: 100px;
  padding-bottom: 50px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 58vh;
  grid-template-areas:
  "project1 project2"
  "project3 project4"
  "project5 project6"
  "project7 project8"
  "project9 project10"
  ;
}

#Project1 {
  grid-area: project1;
  background-image: url("../images/logo w background.png");

}
#Project2 {
  grid-area: project2;
  background-image: url("../images/logo w background.png");

}
#Project3 {
  grid-area: project3;
  background-image: url("../images/logo w background.png");

}
#Project4 {
  grid-area: project4;
  background-image: url("../images/logo w background.png");

}
#Project5 {
  grid-area: project5;
  background-image: url("../images/logo w background.png");

}
#Project6 {
  grid-area: project6;
  background-image: url("../images/logo w background.png");

}
#Project7 {
  grid-area: project7;
  background-image: url("../images/logo w background.png");

}
#Project8 {
  grid-area: project8;
  background-image: url("../images/logo w background.png");

}
#Project9 {
  grid-area: project9;
  background-image: url("../images/logo w background.png");

}
#Project10 {
  grid-area: project10;
  background-image: url("../images/logo w background.png");

}
.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(255,255,255,0.8);
  padding: 15px;
  height: 25px;
  color: #000f50;
  font-size: 18px;
  border-bottom: 5px solid #31C5F4;
  font-weight: 500;
}

/* Skills CSS */

#skillGrid {
  display: grid;
  margin: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  row-gap: 5vh;
  column-gap: 5vh;
  grid-template-areas:
  "s1 s2 s3"
  "s4 s5 s6"
  ;
}

.skill{
  background-color: rgba(255,255,255,0.8);
  color: #000f50;
  font-size: 18px;
  font-weight: 500;

}

#skillGrid img{
  border-radius: 100px;
}

#skill1 {
  grid-area: s1;


}
#skill2 {
  grid-area: s2;


}
#skill3 {
  grid-area: s3;


}
#skill4 {
  grid-area: s4;


}
#skill5 {
  grid-area: s5;


}
#skill6 {
  grid-area: s6;


}


/* Typography CSS */
h1 {
  font-family: 'Poppins', helvetica , sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 28px;
}

h2 {
  font-family: 'Poppins', helvetica , sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

h3 {
  font-family: 'Poppins', helvetica , sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
}

#p1 {
  font-family: 'Poppins', helvetica , sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

#p2 {
  font-family: 'Poppins', helvetica , sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

#p3 {
  font-family: 'Poppins', helvetica , sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: white;
  height: 25vh;
}

.in {
  grid-area: hover;
  background-color: #31C5F4;
  color: white;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 50%;
  border-style: none;
}

.in:hover {
  background-color:#89E3FF;
}

.be {
  grid-area: hover;
  background-color: #31C5F4;
  color: white;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 50%;
  border-style: none;
}

.be:hover {
  background-color:#89E3FF;
}

.ig {
  grid-area: hover;
  background-color: #31C5F4;
  color: white;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 50%;
  border-style: none;
}

.ig:hover {
  background-color:#89E3FF;
}


/* Media Queries */

@media only screen and (min-width: 1112px) {
  .hamnav{
    display: none;
  }
}

@media only screen and (max-width: 1112px) {
  .topnav{
    display: none;
  }
  .hamnav {
    float: right;
    position: absolute;
    right: 3vw;
    background-image: url("../images/hamnav.svg");
  }


  #heroGrid {
    padding-top: 100px;
    padding-bottom: 70px;
    grid-template-columns: 1fr;
    grid-auto-rows: 50vh;
    grid-template-areas:
    "headline" 
    "heroimage"
  }

  #skillGrid {
    display: grid;
    margin: 45px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    row-gap: 5vh;
    column-gap: 3vw;
    grid-template-areas:
    "s1 s2" 
    "s3 s4" 
    "s5 s6"
  }

}

@media only screen and (max-width: 740px) {
  #categoryGrid {
    margin: 0px 5%;
    padding-top: 100px;
    padding-bottom: 50px;
    grid-template-columns: 1fr;
    grid-auto-rows: 58vh;
    grid-template-areas:
    "project1" 
    "project2"
    "project3" 
    "project4"
    "project5" 
    "project6"
    "project7" 
    "project8"
    "project9 "
    "project10"
    ;
  }
  h1{
    line-height: 64px;
  }
  
  #heroGrid {
    padding-top: 20px;
    padding-bottom: 100px;
    grid-template-columns: 1fr;
    grid-auto-rows: 75vh;
    grid-template-areas:
    "headline" 
    "heroimage"
    ;
  }

  #skillGrid {
    display: grid;
    margin: 45px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    row-gap: 5vh;
    column-gap: 3vw;
    grid-template-areas:
    "s1" 
    "s2" 
    "s3"
    "s4" 
    "s5" 
    "s6"
    ;
  }


}
